<%#*FORMULARIO DE INGRESO DE PRODUCTOS PARA GUIA DE TRANSPORTE%>
<div>
  <%= form_for(@transport_guide_detail) do |f| %>

    <% if @transport_guide_detail.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@transport_guide_detail.errors.count, "error") %> prohibited this transport_guide from being saved:</h2>
        <ul>
          <% @transport_guide_detail.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <ul>
      <li style="width: 100%">
        <%#*<input id="cant_campos" type="hidden" value="3" name="cant_campos"></input>%>
        <label>Tipo de Producto:</label>
        <%=select("lista2", "product_type_id", ProductType.get_list_product_types, {:prompt => '-- Seleccionar --'}) %>
        <label>Cantidad:</label>
        <%= f.text_field :amount,id: 'amount',maxlegnth:3, size: 3 %>
        <label>Peso (kg):</label>
        <%= f.text_field :weight, id: 'weight',maxlegnth:3, size: 3%>
        <%= link_to '', add_detail_product_transport_guide_details_path, {id: 'add_product', class: 'add', remote: 'true', method: 'post'} %>
        <input type="hidden" id="cant_productos" value="0"></input>
      </li>
      <div class="clear"></div>
      <li>
        <%= f.hidden_field :transport_guide_id%>
      </li>
    </ul>

  <%end%>



</div>

<script type="text/javascript">

  function eliminarFila(){
    var cant_productos = $('#cant_productos').val();
    cant_productos--;
    $('#cant_productos').val(cant_productos);
    return false;
  }

  $("#add_product").click(function(){
        <%#*agregarFila(document.getElementById('cant_campos'));%>
           var product_type = $("#lista2_product_type_id").val();
           var weight =$("#weight").val();
            var amount =$("#amount").val();
            var href_temp= $(this).attr("href");
             var index = href_temp.indexOf("?");
             var cant_product=$('#cant_productos').val();
             var href;
             if(index>0){
               href=href_temp.substring(0, index);
             }else {
               href= href_temp;
             }
             $(this).attr("href",href +
                "?weight="+weight +
                "&amount="+amount+
                "&product_type_id="+product_type+
                "&cant_product="+cant_product);
              cant_product++;
              $('#cant_productos').val(cant_product);
  });
  <%#*$(function() {%>
    //parase como que no hace nada salta  y val al metodo
 //       <%#*if(<%= @transport_guide_details.nil? %> == false){%>
          <%#*agregarFila_Arreglo(document.getElementById('cant_campos'));%>
        <%#*}%>
  <%#*});%>
  
  <%#*function eliminarFila(){%>
    <%#*var cant_productos = $('#cant_productos').val();%>
    <%#*cant_productos--;%>
    <%#*$('#cant_productos').val(cant_productos);%>
    <%#*return false;%>
  <%#*}%>
  //Lee la funcion pasando sobre el if
  <%#*function agregarFila_Arreglo(obj){%>
    <%#*//tengo que solucionar esto, debo crear si o si un transport_guide_details vacio para que%>
    <%#*//funcione este es malo%>
      <%# @transport_guide_details.each do |detail|  %>
          <%#*$("#cant_campos").val(parseInt($("#cant_campos").val()) + 1);%>
          <%#*var oId = $("#cant_campos").val();%>

          <%#*//MALA PRACTICA DE PROGRAMACIÓN, RESOLVER LUEGO%>
          <%#product_type = ProductType.find(detail.product_type_id) %>
    //      <%#*var product_type_name = <%= detail.product_type_id %>;%>
     //     <%#*var product_type_id = <%= detail.product_type_id %>;%>
   //       <%#*var amount = <%= detail.amount %>;%>
   //       <%#*var weight = <%= detail.weight %>;%>
    //      <%#*var transport_guide_id = <%= detail.transport_guide_id %>;%>
    //      <%#*var id = <%= detail.id %>

          <%#*var strHtml1 = "<td>" + product_type_name + '<input type="hidden" id="hdnProduct_type_id_' + oId + '" name="lista[' + oId + '][product_type_id]" value="' + product_type_id + '"/></td>';%>
          <%#*var strHtml2 = "<td>" + amount + '<input type="hidden" id="hdnAmount_' + oId + '" name="lista[' + oId + '][amount]" value="' + amount + '"/></td>' ;%>
          <%#*var strHtml3 = "<td>" + weight + '<input type="hidden" id="hdnWeight_' + oId + '" name="lista[' + oId + '][weight]" value="' + weight + '"/></td>' ;%>
          <%#*var strHtml4 = '<input type="hidden" id="hdnTransport_guide_id_' + oId + '" name="lista[' + oId + '][transport_guide_id]" value="' + transport_guide_id + '"/>' ;%>
          <%#*var strHtml5 = '<input type="hidden" id="hdnTransport_guide_detail_id_' + oId + '" name="lista[' + oId + '][id]" value="' + id + '"/>' ;%>

          <%#*var strHtml6 = '<td><img src="/assets/borrar2.gif" style="cursor:pointer;" width="30" height="30" alt="Eliminar" onclick="if(confirm(\'Realmente desea eliminar este detalle?\')){eliminarFila2(' + oId + ');}"/> </td>';%>
          <%#*//strHtml6 += '<input type="hidden" id="hdnIdCampos_' + oId +'" name="hdnIdCampos[]" value="' + oId + '" /></td>';%>
          <%#*var strHtmlTr = "<tr id='rowDetail_" + oId + "'></tr>";%>
          <%#*var strHtmlFinal = strHtml1 + strHtml2 + strHtml3 + strHtml4 + strHtml5 + strHtml6;%>
          <%#*//tambien se puede agregar todo el HTML de una sola vez.%>
          <%#*//var strHtmlTr = "<tr id='rowDetalle_" + oId + "'>" + strHtml1 + strHtml2 + strHtml3 + strHtml4 + strHtml5 + strHtml6 +"</tr>";%>
          <%#*$("#tbDetail").append(strHtmlTr);%>
          <%#*//si se agrega el HTML de una sola vez se debe comentar la linea siguiente.%>
          <%#*$("#rowDetail_" + oId).html(strHtmlFinal);%>

          <%#*//aun no funciona bien%>
          <%#*var cant = $("#cant_productos_").val();%>
          <%#*cant++;%>
          <%#*$("#cant_productos_").val(cant);%>
      <%#end%>
    <%#*return false;%>
  <%#*}%>
  <%#*function eliminarFila2(oId){%>
    <%#*var marcarFila = '<input type="hidden" id="hdnDestroy' + oId + '" name="lista[' + oId + '][destroy]" value="' + 1 + '"/>' ;%>
    <%#*$("#rowDetail_" + oId).append(marcarFila);%>
    <%#*$("#rowDetail_" + oId).hide();%>
    <%#*return false;%>
  <%#*}%>



  <%#*function agregarFila(obj){%>
    <%#*$("#cant_campos").val(parseInt($("#cant_campos").val()) + 1);%>
    <%#*var oId = $("#cant_campos").val();%>
    <%#*var product_type_name = $('#lista2_product_type_id option:selected').text();%>
    <%#*var product_type_id = $('#lista2_product_type_id option:selected').val();%>
    <%#*if(product_type_id==0){%>
      <%#*alert("No es un producto");%>
      <%#*return;%>
    <%#*}%>
    <%#*var amount = $("#amount").val();%>
    <%#*var weight = $("#weight").val();%>
  <%#*//  var  transport_guide_id = $("#transport_guide_id").val();%>
   <%#*var transport_guide_id = 7;%>
   
    <%#*var strHtml1 = "<td>" + product_type_name + '<input type="hidden" id="hdnProduct_type_id_' + oId + '" name="lista[' + oId + '][product_type_id]" value="' + product_type_id + '"/></td>';%>
    <%#*var strHtml2 = "<td>" + amount + '<input type="hidden" id="hdnAmount_' + oId + '" name="lista[' + oId + '][amount]" value="' + amount + '"/></td>' ;%>
    <%#*var strHtml3 = "<td>" + weight + '<input type="hidden" id="hdnWeight_' + oId + '" name="lista[' + oId + '][weight]" value="' + weight + '"/></td>' ;%>
    <%#*var strHtml4 = '<input type="hidden" id="hdnTransport_guide_id_' + oId + '" name="lista[' + oId + '][transport_guide_id]" value="' + transport_guide_id + '"/>' ;%>
    
    <%#*var strHtml6 = '<td><img src="/assets/borrar2.gif" style="cursor:pointer;" width="30" height="30" alt="Eliminar" onclick="if(confirm(\'Realmente desea eliminar este detalle?\')){eliminarFila(' + oId + ');}"/>';%>
    <%#*//strHtml6 += '<input type="hidden" id="hdnIdCampos_' + oId +'" name="hdnIdCampos[]" value="' + oId + '" /></td>';%>
    <%#*var strHtmlTr = "<tr id='rowDetail_" + oId + "'></tr>";%>
    <%#*var strHtmlFinal = strHtml1 + strHtml2 + strHtml3 + strHtml4 + strHtml6;%>
    <%#*//tambien se puede agregar todo el HTML de una sola vez.%>
    <%#*//var strHtmlTr = "<tr id='rowDetalle_" + oId + "'>" + strHtml1 + strHtml2 + strHtml3 + strHtml4 + strHtml5 + strHtml6 +"</tr>";%>
    <%#*$("#tbDetail").append(strHtmlTr);%>
    <%#*//si se agrega el HTML de una sola vez se debe comentar la linea siguiente.%>
    <%#*$("#rowDetail_" + oId).html(strHtmlFinal);%>

    <%#*//no funciona muy bien aun%>
    <%#*var cant = $("#cant_productos_").val();%>
    <%#*cant++;%>
    <%#*$("#cant_productos_").val(cant);%>


    <%#*return false;%>
  <%#*}%>
  <%#*function eliminarFila(oId){%>
    <%#*$("#rowDetail_" + oId).remove();%>
    <%#*return false;%>
  <%#*}%>
  <%#*function cancelar(){%>
    <%#*$("#tbDetail").html("");%>
    <%#*return false;%>
  <%#*}%>
  <%#*function add_detail_product(obj){%>
     <%#*$("#cant_campos").val(parseInt($("#cant_campos").val()) + 1);%>
    <%#*var oId = $("#cant_campos").val();%>
    <%#*var product_type_name = $('#lista2_product_type_id option:selected').text();%>
    <%#*var product_type_id = $('#lista2_product_type_id option:selected').val();%>
    <%#*if(product_type_id==0){%>
      <%#*alert("No es un producto");%>
      <%#*return;%>
    <%#*}%>
    <%#*var amount = $("#amount").val();%>
    <%#*var weight = $("#weight").val();%>
    //

    <%#*$("#button_generate_manifests").click(function(){%>
            <%#*var origin = $("#origin_city_id_hidden").val();%>
            <%#*var destiny =$("#destination_city_id_hidden").val();%>
            <%#*var href= $(this).attr("href");%>
            <%#*$(this).attr("href",href +%>
            <%#*"?origin="+origin +%>
            <%#*"&destiny="+destiny);%>
          <%#*});%>

  <%#*}%>
  
</script>

