
<%= form_for(@retire_note) do |f| %>
  <% if @retire_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@retire_note.errors.count, "error") %> prohibited this retire_note from being saved:</h2>

      <ul>
      <% @retire_note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Funcionario %><br />
    <%= f.number_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :Servicio %><br />
    <%= f.number_field :service_type_id %>
  </div>
  <div class="field">
    <%= f.label :Cliente %><br />
    <%= f.number_field :customer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
