<div class="span-24 last">
	<fieldset>
		<legend>
			Nota de Retiro
		</legend>
		<%= form_for(@retire_note) do |f| %>
		  <% if @retire_note.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@retire_note.errors.count, "error") %> prohibited this retire_note from being saved:</h2>
		
		      <ul>
		      <% @retire_note.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		<ul>
	      <li>
		    <label>Nro:</label>
		    <%= f.text_field :number, style: 'width: 20%'%>
		  </li>
		  <li>
		    <label>Fecha:</label>
		    <%= f.text_field :date, style: 'width: 28%', class:'i_fecha' %>
		  </li>
		  <div class="clear"></div>
		  
		  <li>
		    <label>Cliente:</label>
		    <%= f.select :customer_id, @retire_note.getClientes, prompt: "-- Seleccionar--"%>
		  </li>
		  <li>
		    <label>Funcionario:</label>
		    <%= f.select :employee_id, @retire_note.getFuncionarios, prompt: "-- Seleccionar--"%>
		  </li>
		  <div class="clear"></div>
		  <li>
		    <label>Tipo de Servicio:</label>
		   	<%= f.select :service_type_id, @retire_note.getTipoServicios, prompt: "-- Seleccionar--"%>
		  </li>
		  <br />
			<div class="clear"></div>
	       <div>
	         	<h4>Detalle del Producto</h4>
	        </div>
	        <div class="clear"></div>
			<br />
			<li>
		    	<label>Tipo de Producto:</label>
		    	<%= f.select :product_type_id, @retire_note.getTipoProductos, prompt: "-- Seleccionar--"%>
		  	</li>
		  	<div class="clear"></div>
		  	<li>
		  		<label>Ciudad:</label>
		    	<%= f.select :city_id, @retire_note.getCiudades, prompt: "-- Seleccionar--"%>
		  	</li>
		  	<div class="clear"></div>
		  	<li>
		  		<label>Cantidad:</label>
		    	<%= f.text_field :amount, style: 'width: 15%' %>
		  	</li>
		  	<div class="clear"></div>
		  	<li>
		  		<label>Precio Unit: (Gs.)</label>
		    	<%= f.text_field :unit_price, style: 'width: 15%'%>
		  	</li>
		  	<div class="clear"></div>
		  	<li>
		  		<label>Descripcion:</label>
		    	<%= f.text_field :description,style: 'width: 65%'  %>
		  	</li>
		  	<div class="clear"></div>
		  	
		</ul>
		
	</fieldset>
	<div class="span-24 center last" >
			<%= f.submit 'Guardar' %>
			<%= link_to 'Limpiar','#', class: 'limpiar button'%>
			<%= link_to 'Cancelar','#', class: 'button'%>
	</div>
	<% end %>
</div>
<script>
	$('.limpiar').click(function() {
		$('input[type=text]').val("");
		$('input[type=number]').val("");

	});
	$("input[class*=i_fecha]").datepicker({
		altField : '#actualDate',
		appendText : '(dd-mm-yyyy)',
		changeMonth : true,
		changeYear : true,
		dateFormat : 'dd-mm-yy',
		dayNamesMin : ['Do', 'Lu', 'Ma', 'Mie', 'Ju', 'Vie', 'Sa'],
		gotoCurrent : true,
		yearRange : '1900:2012',
		showOn : "button"

	});

</script>
