<div class="span-24 last">
	<fieldset>
		<legend>
			Buscar Nota de Retiro
		</legend>
		<%= form_tag({:action => 'search'}, :remote => true)  do %>
		<ul>
		  <li>
		    <label>* Desde Fecha:</label>
		    <%= text_field_tag :start_date, @retire_note.format_date,id: 'start_date',style: 'width: 28%',class:'i_fecha' %>
		  </li>
		  <li>
		    <label>* Hasta Fecha:</label>
		    <%= text_field_tag :end_date,@retire_note.format_date,id:'end_date',style: 'width: 28%', class:'i_fecha'%>
		  </li>
		  <div class="clear"></div>
		  <li>
		    <label>N°:</label>
		    <%= text_field_tag :number,"",id: 'number_id', style: 'width: 20%', :maxlength => 10 %>
		  </li>
		  <li>
		    <label for="customer">Cliente:</label>
		    <input id="customer" type="text" style="width: 60%" class="i_autocomplit"  />
			<%= hidden_field_tag :customer_id,"",id: 'customer_id_hidden' %>         
		  </li>
		  
		  <div class="clear"></div>
		  
		  <br />
		   <div class="clear"></div>
	       <div class="subtitle">
            	<h4>Detalles del Producto</h4>
          	</div>
            <div class="clear"></div>
			<br />
			<li>
		    	<label>Tipo Producto:</label>
		    	<%= select_tag :product_type_id,options_for_select(@retire_note.getTipoProductos), prompt: 'seleccionar'%>
		  	</li>
		 
		  	<li id="retire_note_state">
		  		<label>Estado:</label>
		  		<%= select_tag :retire_note_state_id ,options_for_select(@retire_note.getEstados),prompt: 'seleccionar'%>
		  	</li>
		  	<div class="clear"></div> 
		  	
		</ul>
		</fieldset>
	<div class="span-24 center last" >
			<%= submit_tag 'Buscar'%>
			<%= link_to 'Limpiar',retire_notes_path, class: 'limpiar button'%>
			<%= link_to 'Cancelar','../main_page/index' ,class: 'button'%>
	</div>
	<% end %>
</div>
<script>
	
	$("input[class*=i_fecha]").datepicker({
          altField: '#actualDate',
          changeMonth: true,
          changeYear: true,
          dateFormat: 'dd-mm-yy',
          monthNamesShort: ['Ene','Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul',
                            'Ago', 'Set', 'Oct', 'Nov', 'Dic'],
          dayNamesMin: ['Do', 'Lu', 'Ma', 'Mie', 'Ju', 'Vie', 'Sa'],
          gotoCurrent: true,
          yearRange: '1900:2040'
							  
        });
	// place holder para fechas
        $("input[class*=i_fecha]").attr({
          'placeholder':'(dd-mm-aaaa)...',
          'size':'12',
          'maxlength':'12'
        });
	
	
	$(document).ready(function(){
     	//Comprueba que se teclee solo numeros
		$("#number_id").keypress(function (e)
		{
		  //if the letter is not digit then display error and don't type anything
		  if( e.which!=8 && e.which!=0 && (e.which<48 || e.which>57))
		  {
		    return false;
		  }
		});
	});
	
    //Autocomplite de clientes
	$(function() {
		var list =[];
		var i=0;
		<% @customers.each do |c| %>
		 	list[i]={
		 		label: "<%= if c.customer_type_id == 2 then c.last_name + " " + c.name  else c.company_name end %>",
		 		id: <%= c.id %>};
			i=i+1;
		<% end %>
		//if el id del cliente es vacio se carga la lista para mostrar el autocomplete
		$("#customer").autocomplete({
			source: list,
			select: function(event, ui) { 
				$("#customer_id_hidden").val(ui.item.id); 
			}
		});
	});
	//Onfocus para que el cursor este sobre el input numero de retiro
	$('#number_id').focus();
	
	var f1 = new LiveValidation('number_id', { validMessage: " ", onlyOnSubmit: true,wait: 500 });
        f1.add( Validate.Numericality, { notANumberMessage: "Debe ser un Numero" } );
    var f2 = new LiveValidation('start_date', { validMessage: " ", wait: 500 });
        f2.add( Validate.Presence, { failureMessage: "Ingrese fecha" } ); 
    var f3 = new LiveValidation('end_date', { validMessage: " ", wait: 500 });
        f3.add( Validate.Presence, { failureMessage: "Ingrese fecha" } );  
</script>
