<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @retire_note.number %>
</p>

<p>
  <b>Funcionario:</b>
  <%= if @retire_note.employee_id != nil then @retire_note.employee.last_name + " " + @retire_note.employee.name   end %>
  <span></span>
</p>

<p>
  <b>Fecha:</b>
  <%= @retire_note.date %>
</p>

<p>
  <b>Tipo de Servicio:</b>
  <%= if @retire_note.service_type_id != nil then @retire_note.service_type.description end %>
</p>

<p>
  <b>Cliente:</b>
  <%= if @retire_note.customer_id!= nil then @retire_note.customer.last_name + " "+ 
  		 @retire_note.customer.name + " " + @retire_note.customer.company_name end %>
</p>

<p>
  <b>Servicio:</b>
  <%= if @retire_note.service_type_id != nil then @retire_note.service_type.description end %>
</p>

<p>
  <b>Tipo de Producto:</b>
  <%= if @retire_note.product_type_id != nil then @retire_note.product_type.description end%>
</p>

<p>
  <b>Ciudad:</b>
  <%= if @retire_note.city_id != nil then @retire_note.city.name end%>
</p>

<p>
  <b>Cantidad:</b>
  <%= @retire_note.amount %>
</p>

<p>
  <b>Precio Unitario:</b>
  <%= @retire_note.unit_price %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @retire_note.description %>
</p>
<%= link_to 'Regresar', new_retire_note_path %>


