
<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :apellido%><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :numero_de_CI %><br />
    <%= f.number_field :num_identity %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :fecha_de_ingreso %><br />
    <%= f.date_select :admission_date %>
  </div>
  <div class="field">
    <%= f.label :fecha_de_nacimiento %><br />
    <%= f.date_select :birthday %>
  </div>
  <div class="field">
    <%= f.label :salario %><br />
    <%= f.text_field :salary %>
  </div>
  <div class="field">
    <%= f.label :numero_de_celular%><br />
    <%= f.text_field :mobile_number %>
  </div>
  <div class="field">
    <%= f.label :numero_de_telefono%><br />
    <%= f.text_field :phone_number %>
  </div>
    <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :cargo %><br />
    <%= f.number_field :function_type_id %>
  </div>
  <div class="actions">
    <%= f.submit :Actualizar %>
  </div>
<% end %>
