<h1>Listing clientes</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Numero telefono</th>
    <th>Apellido</th>
    <th>Numero identificacion</th>
    <th>Nombre</th>
    <th>Direccion</th>
    <th>Ruc</th>
    <th>Nombre empresa</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%= cliente.email %></td>
    <td><%= cliente.numero_telefono %></td>
    <td><%= cliente.apellido %></td>
    <td><%= cliente.numero_identificacion %></td>
    <td><%= cliente.nombre %></td>
    <td><%= cliente.direccion %></td>
    <td><%= cliente.ruc %></td>
    <td><%= cliente.nombre_empresa %></td>
    <td><%= link_to 'Show', cliente %></td>
    <td><%= link_to 'Edit', edit_cliente_path(cliente) %></td>
    <td><%= link_to 'Destroy', cliente, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cliente', new_cliente_path %>
