<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @cliente.email %>
</p>

<p>
  <b>Numero telefono:</b>
  <%= @cliente.numero_telefono %>
</p>

<p>
  <b>Apellido:</b>
  <%= @cliente.apellido %>
</p>

<p>
  <b>Numero identificacion:</b>
  <%= @cliente.numero_identificacion %>
</p>

<p>
  <b>Nombre:</b>
  <%= @cliente.nombre %>
</p>

<p>
  <b>Direccion:</b>
  <%= @cliente.direccion %>
</p>

<p>
  <b>Ruc:</b>
  <%= @cliente.ruc %>
</p>

<p>
  <b>Nombre empresa:</b>
  <%= @cliente.nombre_empresa %>
</p>


<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
