<!DOCTYPE html>
<html>
	<head>
		<title>Project</title>
		<!-- Se anexa los archivos del Blue Print-->
		<%= stylesheet_link_tag "bp/reset" %>
		<%= stylesheet_link_tag "bp/forms" %>
		<%= stylesheet_link_tag "bp/grid" %>
		<%= stylesheet_link_tag "bp/ie" %> <!-- 		<%= stylesheet_link_tag "bp/print" %> -->
		<%= stylesheet_link_tag "bp/typography" %>
		<%= stylesheet_link_tag "bp/screen" %>

		<%= stylesheet_link_tag "default" %>
		<%= stylesheet_link_tag "jqueryslidemenu" %>
		<%= stylesheet_link_tag "jquery-ui" %>
		<%= stylesheet_link_tag "demo_table" %>
		<%= javascript_include_tag "jquery"%>
		<%= javascript_include_tag "jqueryslidemenu"%>
		<%= javascript_include_tag "jquery.dataTables"%>
		<%= javascript_include_tag "application", :media => "all" %>
		<%= csrf_meta_tags %>
		<script charset="utf-8" type="text/javascript">
			$(document).ready(function() {
				$('table[class*=tablaIndex]').dataTable({
					"bScrollCollapse" : true,
					"sPaginationType" : "full_numbers",
					"aLengthMenu" : [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
				});
				$("input[class*=i_fecha]").datepicker({ 
					   altField: '#actualDate',
					   appendText: '(dd-mm-yyyy)',
					   changeMonth: true,
					   changeYear: true,  
					   dateFormat: 'dd-mm-yy',
					   dayNamesMin: ['Do', 'Lu', 'Ma', 'Mie', 'Ju', 'Vie', 'Sa'],
					   gotoCurrent: true,
					   yearRange: '1900:2012',
					   showOn: "button"
							  
			});
				
				
			});

		</script>
	</head>
	<body>
		<div id="header">
			<div class="navigation">
				<div class="container">
					<div id="myslidemenu" class="jqueryslidemenu">
						<ul>
							<li>
								<%= link_to 'Clientes', customers_path %>
							</li>
							<li>
								<%= link_to 'Empleado', employees_path %>
							</li>
							<li>
								<a>Notas</a>
								<ul>
									<li>
										<%= link_to 'Nota de Retiro', retire_notes_path %>
									</li>
									<li>
										<%= link_to 'Guia de Tranporte', transport_guides_path %>
									</li>
								</ul>
							</li>
							<li>
								<%= link_to 'Hoja de Ruta', routing_sheets_path %>
								<ul>
									<li>
										<%= link_to 'Paquetes', packages_path %>
									</li>
								</ul>
							</li>
							<li>
								<a>Informes</a>
							</li>
							<li>
								<a>Perfiles</a>
							</li>
							<li>
								<a>Salir</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="content">
			<div class="container">
				<div class="wrapper span-24">
					<%= yield %>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="wrapper"></div>
		</div>
	</body>
</html>
