
<%= form_for(@receiver) do |f| %>
      <%= render :partial => 'form', :locals => { :f => f } %>

<div class="span-24 center last" >


      <% if @receiver.id %>
              <%= f.submit 'Actualizar' %>
      <% else %>
              <%= f.submit 'Guardar', class: 'disabled', disabled: true, id: 'save_new_receiver_button' %>
      <% end %>
      <%= link_to 'Limpiar',new_receiver_path, class: 'limpiar button'%>
      <%= link_to 'Cancelar', root_url + 'main_page/index', class: 'button'%>

</div>
<% end %>



