<div class="span-24 last">
	<fieldset>
		<legend>
			Destinatario
		</legend>
		<%= form_for(@receiver) do |f| %>
		<div class="span-10">
			<ul class="field-list">
				<div>
					<li>
						<%= f.label :receiver_name, "Nombre y Apellido" %>
		    			<%= f.text_field :receiver_name %>
					</li>
					<li>
						<%= f.label :document, "Nº de Documento" %>
		    			<%= f.text_field :document %>
					</li>					
				</div>
			</ul>
			<div class="prepend-3 prepend-top subtitle">
	        	<h4>Direccion</h4>
	        </div>
 
			    	<ul class="field-list">
						<div>
							<li>
								<p>
									
								</p>
								<%= label_tag :place, "Lugar" %>
								<%= text_field_tag :place, nil, :id => 'i-place'%>
								
							</li>
							<li>
								<%= label_tag :city, "City" %>
								<%= text_field_tag :city, nil, :id => 'i-city'%>
							</li>
							<li>
								<%= label_tag :address, "Dirección" %>
								<%= text_field_tag :address, nil, :id => 'i-dirección'%>
							</li>
					    </div>
					</ul>  
			<div class="prepend-5 center" >
				<%= link_to 'Agregar Dirección', id: "add-button", class: "button" %>
			</div>
		</div>
		<div id="address" class="prepend-1 span-10 last subtitle">
			<h4>Direcciones</h4>
			<div id="div-adresses">
				
			</div>
			<%= render :partial => "receiver_addresses/address_table", :locals => {:receiver_addresses => @receiver.receiver_addresses} %>
		</div>
		
		<div class="span"		
		
		
	</fieldset>
	<div class="span-24 center last" >
			<% if @receiver.id %>
				<%= f.submit 'Actualizar' %>
			<% else %>
				<%= f.submit 'Guardar' %>
			<% end %>
			<%= link_to 'Limpiar','#', class: 'limpiar button'%>
			<%= link_to 'Cancelar','#', class: 'button'%>
	</div>
	<% end %>
</div>

<script>
	
	$("#add-button").click(function(){
		place = $('#i-place').val();
		city_id = $('#i-city').val();
		address = $('#i-address').val();
	    
	    
	})
	
</script>