<div class="span-24 last">
	<fieldset>
		<legend>
			Destinatario
		</legend>
		<%= form_for(@receiver) do |f| %>
		<div class="span-10">
			<ul class="field-list">
				<div>
					<li>
						<%= f.label :receiver_name, "Nombre y Apellido" %>
		    			<%= f.text_field :receiver_name %>
					</li>
					<li>
						<%= f.label :document, "Nº de Documento" %>
		    			<%= f.text_field :document %>
					</li>					
				</div>
			</ul>
			<div class="prepend-3 prepend-top subtitle">
	        	<h4>Direccion</h4>
	        </div>
 
			    <%= f.fields_for :receiver_addresses do |f2| %> 
			    	<ul class="field-list">
						<div>
							<li>
								<%= f2.label :label, "Lugar" %>
								<%= f2.text_field(:label)%>
								
							</li>
							<li>
								<%= f2.label :city, "Ciudad" %>
								<%= f2.text_field :city_id %>
							</li>
							<li>
								<%= f2.label :address, "Dirección" %>
								<%= f2.text_field :address %>
							</li>
					    </div>
					</ul>  
			    <% end %> 
			
			
			
			
			<div class="prepend-5 center" >
				<%= link_to 'Agregar Dirección', id: "add_button", class: "button" %>
			</div>
		</div>
		<div id="address" class="prepend-1 span-10 last subtitle">
			<h4>Direcciones</h4>
			<%= render :partial => "receiver_addresses/address_table", :locals => {:receiver_addresses => @receiver.receiver_addresses} %>
		</div>
		
		<div class="span"		
		
		
	</fieldset>
	<div class="span-24 center last" >
			<% if @receiver.id %>
				<%= f.submit 'Actualizar' %>
			<% else %>
				<%= f.submit 'Guardar' %>
			<% end %>
			<%= link_to 'Limpiar','#', class: 'limpiar button'%>
			<%= link_to 'Cancelar','#', class: 'button'%>
	</div>
	<% end %>
</div>

<script>
	
	$("#add_button").click(function(){
		place = $('#place').val();
		city_id = $('#city').val();
		address = $('#address').val();
	    $.post("<%= add_address_receivers_path %>",
			{"place": place, "city_id": city_id,"address": address,},
				function(){
			},"json");
	})
	
</script>