<div class="span-24 last">
	<fieldset>
		<legend>
			Destinatario
		</legend>
		<%= form_for(@receiver) do |f| %>

		<% if @receiver.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@receiver.errors.count, "error") %> prohiben este destinatario de ser guardado:</h2>
			<ul>
				<% @employee.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>
		<div class="span-10">
			<ul class="field-list">
				<div>
					<li>
						<%= f.label :receiver_name, "Nombre y Apellido" %>
		    			<%= f.text_field :receiver_name %>
					</li>
					<div class="clear"></div>
					<li>
						<%= f.label :document, "Nº de Documento" %>
		    			<%= f.text_field :document %>
					</li>
				</div>
			</ul>
		</div>
		<div class="span-10">
			<ul class="field-list">
				<div>
					<li>
						<%= f.label :address, "Dirección" %>
		    			<%= f.text_field :address %>
					</li>
					<div class="clear"></div>
					<li>
						<%= f.label :city_id, "Ciudad" %>
		    			<%= f.number_field :city_id %>
					</li>
	            </div>
			</ul>
		</div>
				
		
		
	</fieldset>
	<div class="span-24 center last" >
			<% if @receiver.id %>
				<%= f.submit 'Actualizar' %>
			<% else %>
				<%= f.submit 'Guardar' %>
			<% end %>
			<%= link_to 'Limpiar','#', class: 'limpiar button'%>
			<%= link_to 'Cancelar','#', class: 'button'%>
	</div>
	<% end %>
</div>