<div class="span-24 last">
	<fieldset>
		<legend>
			Destinatario
		</legend>
		<%= form_for(@receiver) do |f| %>

		<% if @receiver.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@receiver.errors.count, "error") %> prohiben este destinatario de ser guardado:</h2>
			<ul>
				<% @employee.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>
		<div class="span-10">
			<ul class="field-list">
				<div>
					<li>
						<%= f.label :receiver_name, "Nombre y Apellido" %>
		    			<%= f.text_field :receiver_name %>
					</li>
					<li>
						<%= f.label :document, "Nº de Documento" %>
		    			<%= f.text_field :document %>
					</li>					
				</div>
			</ul>
			<div class="prepend-3 prepend-top subtitle">
	        	<h4>Direccion</h4>
	        </div>
			<ul class="field-list">
				<div>
					<li>
						<%= label_tag :label, "Lugar" %>
						<%= text_field_tag(:label,nil, options = {:size => "30", :id => 'place'})%>
						
					</li>
					<li>
						<%= label_tag :city, "Ciudad" %>
						<%= text_field_tag :city, nil, options = {:size => "30", :id => 'city_id'} %>
					</li>
					<li>
						<%= label_tag :address, "Dirección" %>
						<%= text_field_tag :address, nil, options = {:size => "30", :id => 'address'} %>
					</li>
			    </div>
			</ul>
			<div class="prepend-5 center" >
				<%= link_to 'Agregar Dirección', id: "add_button", class: "button" %>
			</div>
		</div>
		<div id="address" class="prepend-1 span-10 last subtitle">
			<h4>Direcciones</h4>
			<%= render :partial => "receiver_addresses/address_table", :locals => {:receiver_addresses => @receiver.receiver_addresses} %>
		</div>
		
		<div class="span"		
		
		
	</fieldset>
	<div class="span-24 center last" >
			<% if @receiver.id %>
				<%= f.submit 'Actualizar' %>
			<% else %>
				<%= f.submit 'Guardar' %>
			<% end %>
			<%= link_to 'Limpiar','#', class: 'limpiar button'%>
			<%= link_to 'Cancelar','#', class: 'button'%>
	</div>
	<% end %>
</div>

<script>
	
	$("#add_button").click(function(){
		place = $('#place').val();
		city_id = $('#city').val();
		address = $('#address').val();
	    $.post("<%= add_address_receivers_path %>",
			{"place": place, "city_id": city_id,"address": address,},
				function(){
			},"json");
	})
	
</script>