<%= form_for(@cargo_manifest) do |f| %>
  <% if @cargo_manifest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cargo_manifest.errors.count, "error") %> prohibited this cargo_manifest from being saved:</h2>

      <ul>
      <% @cargo_manifest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.date_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :manifest_num %><br />
    <%= f.number_field :manifest_num %>
  </div>
  <div class="field">
    <%= f.label :origin_city_id %><br />
    <%= f.number_field :origin_city_id %>
  </div>
  <div class="field">
    <%= f.label :destiny_city_id %><br />
    <%= f.number_field :destiny_city_id %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br />
    <%= f.number_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :total_guides %><br />
    <%= f.number_field :total_guides %>
  </div>
  <div class="field">
    <%= f.label :total_products %><br />
    <%= f.number_field :total_products %>
  </div>
  <div class="field">
    <%= f.label :total_weight %><br />
    <%= f.text_field :total_weight %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
