<div class="span-24 last">
	
<!--En esta tabla se van cargando los datos de quien recibio el producto, tambien 
	en caso de no recibirse se carga el motivo por el cual no se entrego el producto-->
<%= form_tag({:action => 'save_edited_details'}) do  %>
<table
	columnClasses="center,center,center,center,center,center,center,center,center,center"
	headerClass="center"
	rowClasses="odd gradeC" cellpadding="0" cellspacing="0"
	border="1" class="tablaIndex display"  bgcolor="white">
	<thead>
	  <tr>
	  	<th>Item</th>
	  	<th>Codigo</th>
	    <th>Producto</th>
	    <th>Destinatario</th>
	    <th>Direccion</th>
	    <th>Recibido por</th>
	 	<th>No Entrega</th>
	 	<th>¿Rutear.?</th>
	  </tr>
	</thead>
	
	<tbody>
	<% $routing_sheets_details.each do |detail| %>
	  <tr>
	  	<td><%= $routing_sheets_details.index(detail) + 1 %></td>
	  	<td><%= detail.product.bar_code%></td>
	  	<td><%= detail.product.product_type.description %></td>
	  	<td><%= detail.product.receiver.receiver_name %></td>
	  	<td><%= detail.product.receiver_address.address %></td>
	  	<td><%= text_field_tag 'who_received_' + ($routing_sheets_details.index(detail) + 1).to_s%> </td>
		<td><%= select_tag 'reason_id_'+ ($routing_sheets_details.index(detail) + 1).to_s, options_from_collection_for_select(Reason.all,"id","description"), prompt: "--Motivo--"%></td>
		<td><%= select_tag 'to_route_'+ ($routing_sheets_details.index(detail) + 1).to_s, options_for_select(["no","si"])%></td>
	  </tr>
	<% end %>
	</tbody>
</table>
<div class="span-24 center last" >
		<%= submit_tag 'Guardar'%>	
		<%= link_to 'Cancelar','../main_page/index' ,class: 'button'%>
</div>
<%end%>

</div>