<%= form_for(@retire_note_detail) do |f| %>
  <% if @retire_note_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@retire_note_detail.errors.count, "error") %> prohibited this retire_note_detail from being saved:</h2>

      <ul>
      <% @retire_note_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :retire_note_id %><br />
    <%= f.number_field :retire_note_id %>
  </div>
  <div class="field">
    <%= f.label :package_type_id %><br />
    <%= f.number_field :package_type_id %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.number_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
