<div class="span-24 last">
  <fieldset>
    <legend>Usuario</legend>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class='span-11'>
        <ul class="field-list">
          <li>
            <%= f.label :employee%>
            <%= collection_select(resource_name, :employee_id, Employee.all, :id, "#{:full_name_24_length}") %>
          </li>
          <div class="clear"></div>
          <li>
            <%= f.label :username %>
            <%= f.text_field :username, id: 'i_username' %>
          </li>
          <li>
            <%= f.label :email %>
            <%= f.email_field :email %>
          </li>
          <div class="clear"></div>
          <li>
            <%= f.label :password %>
            <%= f.password_field :password %>
          </li>
          <div class="clear"></div>
          <li>
            <%= f.label :password_confirmation, 'Password' %>
            <%= f.password_field :password_confirmation %>
          </li>
          <div class="clear"></div>
        </ul>
      </div>
      <div class='span-11'>
        <%= f.label :roles%>
        <ul class="field-list">
          <div>
            <% Role.all.each do |role| %>
              <li class="left">
                <%= check_box_tag :role_ids, role.id, resource.roles.include?(role), :name => 'user[role_ids][]' %>
                <%= label_tag :role_ids, role.name %>
              </li>
            <% end %>
          </div>
        </ul>
      </div>
    </fieldset>
    <div class="span-24 center last" >
      <%= f.submit "Guardar" %>
      <%= link_to 'Limpiar','#', class: 'limpiar button'%>
        <%= link_to 'Cancelar','#', class: 'button'%>
        </div>
      <% end %>
    </div>
    <script>
      //this clear all inputs with type text or type number
      $('.limpiar').click(function() {
        $('input[type=text]').val("");
        $('input[type=number]').val("");

      });
      //Onfocus para que el cursor este sobre el input email
      $('#i_username').focus();
	
      //validaciones
      var f1 = new LiveValidation('#i_username', { validMessage: " ",onlyOnSubmit: true , wait: 500});
      f1.add( Validate.Presence, { failureMessage: " " } );

    </script>

