<div class="span-24 last">
<fieldset>
	<legend>
		Registrar Cliente Empresa
	</legend>
	<%= form_for @customer_company, :url => customer_companies_path  do |f| %>
	  <% if @customer_company.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@customer_company.errors.count, "error") %> prohibited this customer from being saved:</h2>
	
	      <ul>
	      <% @customer_company.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	<ul>
		<li>
			<%= f.label :empresa %>
	    	<%= f.text_field :company_name, id: 'i_company_name' %>	
		</li>
		
		
		<li>
			<%= f.label :ruc %>
	    	<%= f.text_field :ruc %>	
		</li>
		<div class="clear"></div>
		<li>
			<%= f.label :direccion %>
	    	<%= f.text_field :address, id:'i_address' %>	
		</li>
		<li>
			<%= f.label :email %>
	    	<%= f.text_field :email, id:'i_email' %>	
		</li>
		<div class="clear"></div>
		<li>
			<%= f.label :celular %>
	    	<%= f.text_field :mobile_number %>	
		</li>
		
		<li>
			<%= f.label :telefono %>
	    	<%= f.text_field :phone_number, id:'i_phone_number' %>	
		</li>
		<div class="clear"></div>
	</ul>

</fieldset>
<div class="span-24 center last" >
			<%= f.submit 'Guardar' %>
			<%= link_to 'Limpiar','#', class: 'limpiar button'%>
			<%= link_to 'Cancelar','../main_page/index' ,class: 'button'%>
</div>
<% end %>
</div>
<script>
	$('.limpiar').click(function() {
		$('input[type=text]').val("");
		$('input[type=number]').val("");
		$('#form_msg').hide();

	});
	$("input[class*=i_fecha]").datepicker({
		altField : '#actualDate',
		appendText : '(dd-mm-yyyy)',
		changeMonth : true,
		changeYear : true,
		dateFormat : 'dd-mm-yy',
		dayNamesMin : ['Do', 'Lu', 'Ma', 'Mie', 'Ju', 'Vie', 'Sa'],
		gotoCurrent : true,
		yearRange : '1900:2012',
		showOn : "button"

	});
	//Onfocus para que el cursor este sobre el input company_name
	$('#i_company_name').focus();
	
	//validaciones
        var f1 = new LiveValidation('i_company_name', { validMessage: " ", onlyOnSubmit: true,wait: 500 });
        f1.add( Validate.Presence, { failureMessage: " " } );
       
        var f2 = new LiveValidation('i_phone_number', { validMessage: " ",onlyOnSubmit: true, wait: 500 });
        f2.add( Validate.Presence, { failureMessage: " " } );
        var f3 = new LiveValidation('i_email', { validMessage: " ",onlyOnSubmit: true, wait: 500 });
        f3.add( Validate.Presence, { failureMessage: " " } );
        var f4 = new LiveValidation('i_address', { validMessage: " ",onlyOnSubmit: true, wait: 500 });
        f4.add( Validate.Presence, { failureMessage: " " } );

</script>

