<div id="form_customer_company">
	<%=render 'customer_company'%>
</div>
<br/>
<table
    columnClasses="center,center,center,center,center,center,center,center,center, center" 
    headerClass="center"
    rowClasses="odd gradeC" cellpadding="0" cellspacing="0" 
    border="1" class="tablaIndex display"  bgcolor="white">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Ruc</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Email</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @customer_companies.each do |customer_company| %>
          <tr>
            <td><%= customer_company.company_name %></td>
            <td><%= customer_company.ruc %></td>
            <td><%= customer_company.address %></td>
            <td><%= customer_company.phone_number %></td>
            <td><%= customer_company.email %></td>
            <td><%= link_to 'Mostrar', customer_company_path(customer_company) %></td>
            <td>
            	<div>
            	<%= link_to image_tag('editar.gif'), edit_customer_company_path(customer_company), remote: true  %>
            	</div>
            </td>
            <td>
            	<div>
            	<%= link_to image_tag('borrar2.gif'), customer_company_path(customer_company), confirm: 'Estas seguro?', method: :delete %>
            	</div>
            </td>
          </tr>
        <% end %>
    </tbody>
   
</table>
<br />
<br /> 

