<p id="notice"><%= notice %></p>


<p>
  <b>Empresa:</b>
  <%= @customer_company.company_name %>
</p>

<p>
  <b>Ruc:</b>
  <%= @customer_company.ruc %>
</p>

<p>
  <b>Direccion:</b>
  <%= @customer_company.address %>
</p>


<p>
  <b>Celular:</b>
  <%= @customer_company.mobile_number %>
</p>

<p>
  <b>Telefono:</b>
  <%= @customer_company.phone_number %>
</p>

<p>
  <b>Email:</b>
  <%= @customer_company.email %>
</p>

<p>
  <b>Tipo de Cliente:</b>
  <%= if @customer_company.customer_type.type_name != nil then @customer_company.customer_type.type_name end %>
</p>

<%= link_to 'Regresar', new_customer_company_path %>
