<p id="notice"><%= notice %></p>


<p>
  <b>Empresa:</b>
  <%= @customer.company_name %>
</p>

<p>
  <b>Ruc:</b>
  <%= @customer.ruc %>
</p>

<p>
  <b>Direccion:</b>
  <%= @customer.address %>
</p>

<p>
  <b>Codigo</b>
  <%= @customer.num_identify %>
</p>

<p>
  <b>Celular:</b>
  <%= @customer.mobile_number %>
</p>

<p>
  <b>Telefono:</b>
  <%= @customer.phone_number %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Tipo de Cliente:</b>
  <%= if @customer.customer_type.type_name != nil then @customer.customer_type.type_name end %>
</p>

<%= link_to 'Regresar', customer_companies_path %>
