<h1>Lista de Direcciones</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Lugar</th>
    <th>Direccion</th>
    <th>Ciudad</th>
    <th>Destinatario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @receiver_addresses.each do |receiver_address| %>
  <tr>
    <td><%= receiver_address.id %></td>
    <td><%= receiver_address.label %></td>
    <td><%= receiver_address.address %></td>
    <td><%= receiver_address.city_id %></td>
    <td><%= receiver_address.receiver_id %></td>
    <td><%= link_to 'Mostrar', receiver_address %></td>
    <td><%= link_to 'Editar', edit_receiver_address_path(receiver_address) %></td>
    <td><%= link_to 'Eliminar', receiver_address, confirm: 'Estas seguro?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva direccion', new_receiver_address_path %>
