<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @foreign_company.id %>
</p>

<p>
  <b>Company name:</b>
  <%= @foreign_company.company_name %>
</p>

<p>
  <b>Mobile number:</b>
  <%= @foreign_company.mobile_number %>
</p>

<p>
  <b>Email:</b>
  <%= @foreign_company.email %>
</p>

<p>
  <b>Ruc:</b>
  <%= @foreign_company.ruc %>
</p>

<p>
  <b>Address:</b>
  <%= @foreign_company.address %>
</p>

<p>
  <b>Phone number:</b>
  <%= @foreign_company.phone_number %>
</p>


<%= link_to 'Edit', edit_foreign_company_path(@foreign_company) %> |
<%= link_to 'Back', foreign_companies_path %>
