<h1>Listing rounting_sheets</h1>

<table>
  <tr>
    <th>Area</th>
    <th>Employee</th>
    <th>Date</th>
    <th>Total amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rounting_sheets.each do |rounting_sheet| %>
  <tr>
    <td><%= rounting_sheet.area_id %></td>
    <td><%= rounting_sheet.employee_id %></td>
    <td><%= rounting_sheet.date %></td>
    <td><%= rounting_sheet.total_amount %></td>
    <td><%= link_to 'Show', rounting_sheet %></td>
    <td><%= link_to 'Edit', edit_rounting_sheet_path(rounting_sheet) %></td>
    <td><%= link_to 'Destroy', rounting_sheet, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rounting sheet', new_rounting_sheet_path %>
