<p id="notice"><%= notice %></p>

<p>
  <b>Area:</b>
  <%= @rounting_sheet.area_id %>
</p>

<p>
  <b>Employee:</b>
  <%= @rounting_sheet.employee_id %>
</p>

<p>
  <b>Date:</b>
  <%= @rounting_sheet.date %>
</p>

<p>
  <b>Total amount:</b>
  <%= @rounting_sheet.total_amount %>
</p>


<%= link_to 'Edit', edit_rounting_sheet_path(@rounting_sheet) %> |
<%= link_to 'Back', rounting_sheets_path %>
