<fieldset>
	<legend>
		<%= :titutlo%>
	</legend>
	<%= form_for(@customer) do |f| %>
	  <% if @customer.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
	
	      <ul>
	      <% @customer.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	<ul>
		<li>
			<%= f.label :nombre %>
	    	<%= f.text_field :name %>	
		</li>
		<li>
			<%= f.label :apellido %>
	    	<%= f.text_field :last_name %>	
		</li>
		<div class="clear"></div>
		<li>
			<%= f.label :ruc %>
	    	<%= f.text_field :ruc %>	
		</li>
		<li>
			<%= f.label :direccion %>
	    	<%= f.text_field :address %>	
		</li>
		<div class="clear"></div>
		<li>
			<%= f.label :codigo %>
	    	<%= f.number_field :num_identify %>	
		</li>
		<li>
			<%= f.label :celular %>
	    	<%= f.text_field :mobile_number %>	
		</li>
		<div class="clear"></div>
		<li>
			<%= f.label :telefono %>
	    	<%= f.text_field :phone_number %>	
		</li>
		<li>
			<%= f.label :email %>
	    	<%= f.text_field :email %>	
		</li>
		<div class="clear"></div>
		<li >
			<%= f.submit %>	
		</li>
	</ul>
	<% end %>
</fieldset>
