
		<%= form_for(@customer) do |f| %>
		  <% if @customer.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
		
		      <ul>
		      <% @customer.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		  
		<% end %>  

<table
    columnClasses="center,center,center,center,center,center,center,center,center, center" 
    headerClass="center"
    rowClasses="odd gradeC" cellpadding="0" cellspacing="0" 
    border="1" class="tablaIndex display"  bgcolor="white">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Cliente</th>
            <th>Email</th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        <% @customers.each do |customer| %>
          <tr>
          	<td><%= customer.id %></td>
            <td><%= if customer.customer_type_id == 2 then customer.name else customer.company_name end %></td>
            <td><%= customer.email %></td>
            <td><%= link_to 'Seleccionar', select_customer_retire_note_path(customer) %></td>
          </tr>
        <% end %>
    </tbody>
   
</table>