<div class="span-24 left">
	
	<div class="subtitle">
	      <h4>Descripcion completa del cliente</h4>
	</div>
	<p id="notice"><%= notice %></p>
	<p>
	  <b>Nombre:</b>
	  <%= @customer.name %>
	</p>
	
	<p>
	  <b>Apellido:</b>
	  <%= @customer.last_name %>
	</p>
	
	<p>
	  <b>Ruc:</b>
	  <%= @customer.ruc %>
	</p>
	
	<p>
	  <b>Direccion:</b>
	  <%= @customer.address %>
	</p>
	
	<p>
	  <b>CI:</b>
	  <%= @customer.num_identify %>
	</p>
	
	<p>
	  <b>Celular:</b>
	  <%= @customer.mobile_number %>
	</p>
	
	<p>
	  <b>Telefono:</b>
	  <%= @customer.phone_number %>
	</p>
	
	<p>
	  <b>Email:</b>
	  <%= @customer.email %>
	</p>
	
	<p>
	  <b>Tipo de Cliente:</b>
	  <%= @customer.customer_type.type_name %>
	</p>

<%= link_to 'Regresar', new_customer_path %>
</div>