<%= form_for(@transport_guide) do |f| %>
  <% if @transport_guide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transport_guide.errors.count, "error") %> prohibited this transport_guide from being saved:</h2>

      <ul>
      <% @transport_guide.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :destination_person %><br />
    <%= f.text_field :destination_person %>
  </div>
  <div class="field">
    <%= f.label :destination_address %><br />
    <%= f.text_field :destination_address %>
  </div>
  <div class="field">
    <%= f.label :remitter_person %><br />
    <%= f.text_field :remitter_person %>
  </div>
  <div class="field">
    <%= f.label :remitter_address %><br />
    <%= f.text_field :remitter_address %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br />
    <%= f.number_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :foreign_company_id %><br />
    <%= f.number_field :foreign_company_id %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br />
    <%= f.number_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :service_type_id %><br />
    <%= f.number_field :service_type_id %>
  </div>
  <div class="field">
    <%= f.label :transport_guide_state_id %><br />
    <%= f.text_field :transport_guide_state_id %>
  </div>
  <div class="field">
    <%= f.label :num_guide %><br />
    <%= f.number_field :num_guide %>
  </div>
  <div class="field">
    <%= f.label :payment_method_id %><br />
    <%= f.number_field :payment_method_id %>
  </div>
  <div class="field">
    <%= f.label :destination_city_id %><br />
    <%= f.number_field :destination_city_id %>
  </div>
  <div class="field">
    <%= f.label :origin_city_id %><br />
    <%= f.number_field :origin_city_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

