<div class="span-24 last">
  <%= form_for(@transport_guide) do |f| %>

    <% if @transport_guide.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@transport_guide.errors.count, "error") %> prohibited this transport_guide from being saved:</h2>

        <ul>
          <% @transport_guide.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <fieldset>
      <legend>
        Registrar Guia de Transporte
      </legend>
      <ul>
        <li>
          <label>N&#176;:</label>
          <%= f.number_field :num_guide %>
          <%= f.hidden_field :id, id: "transport_guide_id"%>
        </li>
        <li>
          <label>Fecha</label>
          <%= f.text_field :created_at %>
        </li>
        <li>
          <%= f.label :employee_id %>
          <%= f.number_field :employee_id %>
        </li>
        <div class="clear"></div>
        <!--  Datos del Remitente primera seccion -->
        <div>
          <h4>Datos del Remitente</h4>
        </div>
        <div class="clear"></div>

        <li>
          <label>Origen: </label>
          <%= f.number_field :origin_city_id %>
        </li>
        <li>
          <label> Empresa:</label>
          <%= f.number_field :customer_id %>
        </li>

        <div class="clear"></div>
        <li>
          <label>Remitente: </label>
          <%= f.text_field :remitter_person %>
        </li>
        <li>
          <label>Dirección: </label>
          <%= f.text_field :remitter_address %>
        </li>


        <!-- Datos del Destinatario Segunda Sección -->
        <div class="clear"></div>
        <div>
          <h4>Datos del Destinatorio</h4>
        </div>
        <div class="clear"></div>


        <li>
          <label>Destino:</label>
          <%= f.number_field :destination_city_id %>
        </li>
        <li>
          <label>Empresa:</label>
          <%= f.number_field :foreign_company_id %>
        </li>
        <div class="clear"></div>
        <li>
          <label>Destinatario:</label>
          <%= f.text_field :destination_person %>
        </li>
        <li>
          <label>Direccion:</label>
          <%= f.text_field :destination_address %>
        </li>


        <!-- Datos del Destinatario Segunda Sección -->
        <div class="clear"></div>
        <div>
          <h4>Condiciones Generales del Transporte</h4>
        </div>
        <div class="clear"></div>


        <li>
          <label>Tipo de Servicio:</label>
          <%= f.number_field :service_type_id %>
        </li>
        <li>
          <label>Forma de Pago:</label>
          <%= f.number_field :payment_method_id %>
        </li>
        <div class="clear"></div>

        <li>
          <%= f.label :transport_guide_state_id %>
          <%= f.text_field :transport_guide_state_id %>
        </li>
        <div class="clear"></div>

      </ul>
    </fieldset>
    <div id="form_transport_guide_detail">
      <%=render 'transport_guide_details/details'%>
      <div class="span-24 center last" >
        <%= f.submit 'Guardar' %>
        <%= link_to 'Limpiar','#', class: 'limpiar button'%>
          <%= link_to 'Cancelar','#', class: 'button'%>
      </div>
   </div>

      <% end %>
    </div>


