<table>
  <tr>
    <th>Destination person</th>
    <th>Destination address</th>
    <th>Remitter person</th>
    <th>Remitter address</th>
    <th>Customer</th>
    <th>Foreign company</th>
    <th>Employee</th>
    <th>Service type</th>
    <th>Transport guide state</th>
    <th>Num guide</th>
    <th>Payment method</th>
    <th>Destination city</th>
    <th>Origin city</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transport_guides.each do |transport_guide| %>
  <tr>
    <td><%= transport_guide.destination_person %></td>
    <td><%= transport_guide.destination_address %></td>
    <td><%= transport_guide.remitter_person %></td>
    <td><%= transport_guide.remitter_address %></td>
    <td><%= transport_guide.customer_id %></td>
    <td><%= transport_guide.foreign_company_id %></td>
    <td><%= transport_guide.employee_id %></td>
    <td><%= transport_guide.service_type_id %></td>
    <td><%= transport_guide.transport_guide_state_id %></td>
    <td><%= transport_guide.num_guide %></td>
    <td><%= transport_guide.payment_method_id %></td>
    <td><%= transport_guide.destination_city_id %></td>
    <td><%= transport_guide.origin_city_id %></td>
    <td><%= link_to 'Show', transport_guide %></td>
    <td><%= link_to 'Edit', edit_transport_guide_path(transport_guide) %></td>
    <td><%= link_to 'Destroy', transport_guide, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>