<div class="span-24 left">
	<fieldset>
		<legend>
			Registrar Producto
		</legend>
		<%= form_for @retire_note, url: search_product_path do |f| %>
		  <% if @retire_note.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@retire_note.errors.count, "error") %> prohibited this product from being saved:</h2>
		
		      <ul>
		      <% @retire_note.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		<ul>
			<li>
		    	<label for="retire_note">Nota Retiro N°*:</label>
		    	<input id="retire_note" type="text" style="width: 30%" />
				<%= f.hidden_field :id, id: 'retire_note_id_hidden' %>  
			</li>
			<li>
				<%= f.label :fecha %>
		    	<input value="2012-03-05" />
			</li>
			
			<div class="clear"></div>
			
		</ul>
		
	
	</fieldset>
	<div><%=render 'product' %></div>
		
	</fieldset>
	<div class="span-24 center last" >
			<%= f.submit %>
			<%= link_to 'Limpiar','#', class: 'limpiar button'%>
			<%= link_to 'Salir','#', class: 'button'%>
	</div>
	<% end %>
</div>
<script>
	$('.limpiar').click(function() {
		$('input[type=text]').val("");
		$('input[type=number]').val("");

	});
	//Onfocus para que el cursor este sobre el input company_name
	$('#i_retire_note').focus();
	
	//Autocomplite de notas de retiro
	$(function() {
		var list =[];
		var i=0;
		<% @retire_notes.each do |r| %>
		 	list[i]={
		 		label: "<%= r.number %>",
		 		id: <%= r.id %>};
			i=i+1;
		<% end %>
		//if el id de la nota de retiro es vacio se carga la lista para mostrar el autocomplete
		$("#retire_note").autocomplete({
			source: list,
			select: function(event, ui) { 
				$("#retire_note_id_hidden").val(ui.item.id); 
			}
		});
		if($("#retire_note_id_hidden").val()!= "") {
			//Cuando el id de la nota de retiro no es vacio se setea el numero de la nota en el campo
						
			var id=$("#retire_note_id_hidden").val();
			var name= ""
			// busca el empleado dentro de la lista
			$(list).each(function(index,element){
				if(element.id == id){
					name=element.label
					return true
				}
			})
			//setea el nombre del empleado en el campo employee
			$("#retire_note").val(name);
		}
	});
	

	
	
</script>
