<div class="span-24 left">

	<fieldset>
		<legend>
			Informe de Entrega
		</legend>
		<%= form_tag({:action => 'generate_delivery_report_pdf',:format=> "pdf"}) do  %>
		
		<ul>
			<li>
				<label>Inicio:</label>
				<%= text_field_tag :inited_at,@product.format_admission_date, class:'i_fecha', size: 15, maxlength: 12, id: 'inited_at' %>
			</li>
			<li>
				<label>Fin:</label>
				<%= text_field_tag :finished_at,@product.format_admission_date, class:'i_fecha', size: 15, maxlength: 12, id:'finished_at' %>
			</li>
		</ul>
		<ul>
			<div class="clear"></div>
			<li>
			    <label>Cliente:</label>
			    <input id="customer"  type="text" style="width: 60%" class="i_autocomplit"  />
			    <%= hidden_field_tag :customer_id,nil,id: 'customer_id_hidden' %>    
			</li>
			
		</ul>
		
	
	</fieldset>
	<div class="span-24 center last" >
		
			<%= submit_tag 'Generar', id: 'button_generate_id'%>
			<%= link_to 'Cancelar','../main_page/index' ,class: 'button'%>
	</div>
	
	<% end %>
</div>

<script>
	//focus en el formulario
   $("#customer").focus();
	$('.limpiar').click(function() {
		$('input[type=text]').val("");
		$('input[type=number]').val("");
		$('input[type=hidden]').val("");
	});
	
	 //Autocomplite de clientes
	$(function() {
		var list =[];
		var i=0;
		<% @customers.each do |c| %>
		 	list[i]={
		 		label: "<%= if c.customer_type_id == 2 then c.last_name + " " + c.name  else c.company_name end %>",
		 		id: <%= c.id %>};
			i=i+1;
		<% end %>
		$("#customer").autocomplete({
			source: list,
			select: function(event, ui) { 
				$("#customer_id_hidden").val(ui.item.id); 
			}
		});
	});
	
	
	
	//Validaciones
     
     //Validaciones fechas
     var f1 = new LiveValidation('inited_at', { validMessage: " ",onlyOnSubmit: true,wait: 500 });
     f1.add( Validate.Presence, { failureMessage: " " } );
     var f2 = new LiveValidation('finished_at', { validMessage: " ",onlyOnSubmit: true,wait: 500 });
     f2.add( Validate.Presence, { failureMessage: " " } );   
     var f3 = new LiveValidation('customer', { validMessage: " ",onlyOnSubmit: true,wait: 500 });
        f3.add( Validate.Presence, { failureMessage: " " } );

</script>